<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="shortcut icon" href="#" />
</head>
<body>
    <h1>Here goes nothing!!</h1><br/>
    <button class="btn btn-success" id="kuchBhi">Kuch bhi</button>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/helloWorld.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>